# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Keep static libs
!/src/*/lib/**/*.jar

# SublimeText
*.sublime-*

# Vim
*.~
*.swp
*.swo
*.swn
*.vimrc

# Eclipse / Intellij
.idea
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.checkstyle
.externalToolBuilders/
*.launch
*.iml
*.ipr
*.iws

# OS X
*.DS_Store

# Windows
Thumbs.db

#KDE
.directory

# Gradle
/.gradle

# Maven
/target/

# Environment configuration file to be loaded with $ source .env
.env
